@import "./../../variables.scss";

.footer {
	background-color: $footer;

	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__name {
		font-family: "Pacifico", cursive;
		color: #fff;
		font-weight: 400;
		font-size: 2rem;
		margin-top: 1.5rem;

		span {
			font-family: "Pacifico", cursive;
			color: $primary-color;
			font-weight: 400;
			font-size: 2rem;
		}
	}

	&__icons {
		display: flex;
		margin: 2rem auto;
	}

	&__copyright {
		color: #fff;
		text-align: center;
		font-size: 0.9rem;
		margin-bottom: 1.5rem;
	}
}
