@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
}

body {
	background: #fff;
}

img {
	width: 100%;
	height: 100%;
}

svg {
	width: 100%;
	height: 100%;
}

.container {
	width: 80%;
	max-width: 90rem;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	font-size: 4rem;
	line-height: 1.6;
	font-weight: 800;
}

h2 {
	font-size: 2.87rem;
	line-height: 1.6;
	font-weight: 700;
}

h3 {
	font-size: 2.25rem;
	line-height: 1.6;
	font-weight: 600;
}

h4 {
	font-size: 1.37rem;
	line-height: 1.6;
	font-weight: 500;
}

p {
	font-size: 1rem;
	line-height: 1.6;
	font-weight: 400;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: #022742;
}
